<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>libgit2-ios</string>
	<key>build</key>
	<dict>
		<key>location</key>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>libgit2/libgit2</string>
			<key>branch</key>
			<string>master</string>
		</dict>
		<key>buildSystem</key>
		<string>cmake</string>
		<key>buildArgs</key>
		<array>
			<string>-DBUILD_SHARED_LIBS=OFF</string>
			<string>-DBUILD_CLAR=OFF</string>
			<string>-DTHREADSAFE=ON</string>
			<string>-DCURL=ON</string>
			<string>-DUSE_HTTPS=OpenSSL</string>
			<string>-DHAVE_LIBSSH2_MEMORY_CREDENTIALS=ON</string>
			<string>-DHAVE_FUTIMENS=OFF</string>
		</array>
		<key>outputs</key>
		<array>
			<string>lib/libgit2.a</string>
		</array>
		<key>auxiliaryFiles</key>
		<dict>
			<key>Framework/module.modulemap</key>
			<string>include/git2/module.modulemap</string>
		</dict>
	</dict>
	<key>dependencies</key>
	<array>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>IMcD23/openssl-ios</string>
			<key>branch</key>
			<string>master</string>
		</dict>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>IMcD23/libssh2-ios</string>
			<key>branch</key>
			<string>master</string>
		</dict>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>IMcD23/libcurl-ios</string>
			<key>branch</key>
			<string>master</string>
		</dict>
	</array>
</dict>
</plist>
